body {
  /* min-height: 2000px; */
  /* background-image: url('bg.jpg') ; */
  /* padding-top: 55px; */
}

/* menu */
.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;    
}
#main-mav-top ul li:hover a{
	color: black;
}
#main-mav-top ul li ul li:hover a {
	color: red;
	background-color: #FFFFFF;
}
/* nav fixed top  */
#main-mav-top-fixed ul li{
    z-index: 1111;
}
#main-mav-top-fixed ul li a{
    color: #FFFFFF;
}
#main-mav-top-fixed ul li:hover a{
    color: black;
}
#main-mav-top-fixed ul li ul li:hover a {
    color: red;
    background-color: #FFFFFF;
}
.ul-sub li:last-child{
  display: none;
}
/* fix top NAV */
#fixNav{
  width: 100%;
  height: 25px;
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  display: none;
}
#main-mav-top ul li a{
	color: #FFFFFF;
}

/* card style */
.card-img{
  width: 50px;
  height: 40px;
}
/* / ====================================laptop */
.thumbnail {
  height: 370px;
  position: relative;
 }
 .thumbnail .hienthi{
    height: 220px;
    transition: all ease 0.9s; 
    padding: 0;
 }
 .thumbnail .hienthi img{
  display: block;
  height: 150px;
  width: 55%;
  transition: all ease 0.9s; 
  display: block;
  margin: 0 auto;
 }
.thumbnail .tomtat {
    opacity: 0;
    height: 300px; 
    width: 100%;
    /* background: #003300; */
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px 5px 0 0;
    transition: all ease 0.9s;   
    transform: rotate(0deg);
    padding: 5px;
 }
 .thumbnail:hover .tomtat {
    opacity: 1;
    transition: all ease 0.9s; 
    -webket-transform: rotate3d(30deg, 50deg, 180deg, angle);
    
 }
  .thumbnail .tomtat .thongtin{
    height: 280px;
  }
  .thumbnail .tomtat .price{
    height: 70px;
    
 }
 .thumbnail .tomtat .price span{
  color: red;
 }
 .thumbnail:hover .hienthi {
    opacity: 0;
    transition: all ease 0.9s;
    
 }
 .thumbnail .tomtat a li {
  list-style-type: disc;
  padding-left: 10px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .caption {
  height: 180px;
  list-style: none;
  display: block;
}
 .caption li {    
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }
 .caption .title-pro{
    color:#2980b9;
 }
  .caption h1{
    margin: 0;
    padding: 0;
  }
 .tomtat a:hover{
  text-decoration: none;
 }
 .no-padding{
  padding:1px;
 }
 .bot-nav {
  
  margin-bottom: 0;
 }
.bot-nav li {
  display: inline-block;
  float: left;
  margin-top: -5px;
}
.bot-nav li a{
  color: #FFFFFF;
}
.navbar-fixed-bottom {
  border-radius: 5px 5px;
  height: 35px;
  z-index: 11111111111;
}
/* / =======================mobile thumbnail */
.mobile{
  height: 260px;
  position: relative;
}
.mobile .bt{
   height: 210px;
  transition: all ease 0.9s; 
  padding: 0;
}
.mobile .ct {
    opacity: 0;
    height: 200px; 
    width: 98%;
    /* background: #003300; */
    color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px 5px 0 0;
    transition: all ease 0.9s;   
    transform: rotate(0deg);
    padding: 10px;
}
.mobile .ct li{
  list-style: none;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile .ct a:hover {
  text-decoration: none;
}
.mobile:hover .ct{
  opacity: 1;
}
.mobile:hover .bt{
  opacity: 0;
}
.mobile .image-m {
  width: 40%;
 height: 200px;
}
.mobile .image-m img {
  width: 95%;
  height: 155px;
  margin: auto;
}
.mobile .intro {
  width: 60%;
  height: 200px;
}
.mobile .intro li {
  list-style: none;
}

.mobile .intro li:last-child{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-mobile {
  color: #2980b9;
  font-size: 16px;
}
.add{
  opacity: 0;
  transition: all ease 0.9s;   
}
.mobile:hover .add{
  opacity: 1;
  transition: all ease 1.9s;    
}
/* /======================================pc thumbnail =============== */
.pc{
  height: 270px;
  position: relative;
}
.pc .bt{
   height: 200px;
    padding: 0;
}
.pc .intro{
    transition: all ease 0.4s; 
}
.pc .ct {
    opacity: 0;
    height: 200px; 
    width: 60%;
    color: black;
    position: absolute;
    top: 0px;
    left: 40%;
    border-radius: 5px 5px 0 0;
    transition: all ease 0.9s;   
    transform: rotate(0deg);
    padding: 10px;
}
.pc .ct li{
  list-style: none;
}
.pc .ct a:hover {
  text-decoration: none;
}
.pc:hover .ct{
  opacity: 1;
}
.pc:hover .intro{
  opacity: 0;
}
.pc .image-m {
  width: 40%;
 height: 200px;
}
.pc .image-m img {
  width: 95%;
  height: 195px;
}
.pc .intro {
  width: 60%;
  height: 200px;
  margin-top: 0;
}
.pc .intro li {
  list-style: none;
}
.intro h1 .title-pc {
  color: #2980b9;
  font-size: 16px;

}
.add{
  opacity: 0;
  transition: all ease 0.9s;   
}
.pc:hover .add{
  opacity: 1;
  transition: all ease 1.9s;    
}
/*-------------------------------------------------- gioi thieu */
.gioithieu li{
  list-style: none;
  font-size: 16px;
  font-style: normal;
}
.gt-left{
  width: 50%;
  height: 100%;
  font-style: normal;
}
.gt-right{
  width: 50%;
  height: 100%;
  font-style: normal;
}
/* ========================back to top button ==================*/
.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    font-style: normal;
}
/* ------------------------------------------------footer r---------======================= */
footer{
  height: 30px;
  text-align: center;
}
/* tin tun */
.new-cat li{
    list-style: none;
    padding-top: 5px;
    padding-left: 5px;
}
.new-cat li a{
    font-size: 15px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.panel-title{
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    margin: 5px;
}
.sum{
  padding-right:0;
}
/* ============== style san pham mobile================= */
.khuyenmai,.chinhsach li{
 list-style: none;
}
.khuyenmai span{
  color: blue;
}
.chinhsach span{
  color: #16a085;
}
.pro-detail-title{
  font-size: 18px;
  padding-left: 17px;
  margin-top: 1px;
  font-weight: bold;
  margin-bottom: 0;
  color: #2980b9;
}
.img-box{
  height: 280px;
}
.img-mobile{
  height: 270px;
  width: 75%;
  display: block;
  margin: 0 auto;
  transition: all ease 0.9s; 
}
.img-mobile:hover{
  height: 279px;
  width: 85%;
  display: block;
  margin: 0 auto
}
.mobile-price{
 margin-left: 25%;
 color: #FEFEFE;
 font-size: 18px;
}
.btn-buy{
  font-size: 20px;
}
.img-pro{
  display: block;
  width: 98%;
  height: 250px;
  margin: 0 auto;
}

.preview-products img{
  display: block;
  margin: 0 auto;
  width: 95%;
  height: 95%;
}
.SeeMore{
  text-align: center;
  margin-left: 45%;
}
/* ....... */
#links a:hover{
  text-decoration: none;
}

/* login dailog form */
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
.accordion-inner{
  display: block;
}
.accordion-inner img{
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 90%;
  max-height: 70%;
}
.img-new{
  display: block;
  max-width: 90%;
  max-height: 70%;
  position: relative;
  margin: 0 auto;
}
.giasale {
    display: flex;
}.km {
    border-radius: 5px;
    background: #dc2330;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: white;
}
.giagoc {
    /* padding-left: 10px; */
    /* margin-top: 5px; */
    margin-left: 10px;
    position: absolute;
    right: 53%;
    bottom: 10px;
    text-decoration: line-through;
}
.km {
    border-radius: 5px;
    background: #dc2330;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: white;
    padding-bottom: 5px;
  }
.pro-sale {
    text-decoration: line-through;
    background: none;
}
.btn.btn-large.btn-block.btn-warning span {
    color: black;
    font-size: 12px;
    padding-left: 15px;
}
.titlebar {
  overflow: hidden;
}
.titlebar .next-back {
  float: right;
  margin: 12px 0;
}
.titlebar .next-back span a {
  font-size: 12px;
  text-transform: uppercase;
  font-family: Poppins;
  color: #222222;
}
.titlebar .next-back span a:hover {
  text-decoration: none;
  color: #888888;
}
.titlebar .next-back span {
  border-right: 1px solid #000;
  padding: 0 8px 0 5px;
  display: inline-block;
  line-height: 10px;
}
.titlebar .next-back span:last-child {
  border-right: none;
  padding-right: 0;
}

/*.carousel-inner > .carousel-item {*/
/*  -webkit-transition: -webkit-transform 1.2s ease-in-out !important;*/
/*  -o-transition: -o-transform 1.2s ease-in-out !important;*/
/*  transition: transform 1.2s ease-in-out !important;*/
/*}*/

.carousel {
  margin-bottom: 0;
  padding: 0 0 30px 0;
}

.arrival-product .arrival-item ul {
  margin: 0;
  padding: 0;
}
.arrival-product .arrival-item ul li {
    float: left;
    list-style: none;
    width: 25%;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
.arrival-product .arrival-item ul li:last-child {
  margin-right: 0;
}
.title-products {
    padding: 5px;
    background: #f55619;
    text-align: left;
}
.title-products h4 {
    color: white;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 24px;
    text-transform: uppercase;
}
.arrival-item small {
    color: #333333;
}
a:hover{
  text-decoration: none;
}
@media (min-width: 992px){
.product-news .row{
      margin-right:0px;
    margin-left: 0px;
}
.img-responsive {
    width: 100%;
    height: 200px;
    object-fit: contain;
    padding: 10px;
    border: 1px solid #d7d9dd;
    border-radius: 5px;
    /* background: wheat; */
}
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    /* width: 100%; */
    height: 250px;
    object-fit: contain;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

.products-home:hover .image {
  opacity: 0.3;
}

.products-home:hover .middle {
  opacity: 1;
}

.text {
  background-image: linear-gradient(-90deg,#15a085 0%,#0065b1 100%);
  color: white;
  font-size: 16px;
     padding-top: 5px;
    padding-bottom: 5px;
}
.price-home-sale{
   color: #e10c00;
}
.price-home-sale strong {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-size: 14px;
   
    line-height: 15px;
}
.price-home {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    text-decoration: line-through;
    margin-left: 5px;
    color: #222;
}
.flash {
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-radius: 10px;
    padding: 1px 7px;
    padding-left: 10;
    padding-right:10px;
    position: absolute;
    top: 15px;
    color: white;
    font-size: 12px;
}
.flash:before {
    content: ' ';
    display: inline-block;
    background: url(../images/giamgia.png);
    background-size: 50% 50%;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f13500;
    border-radius: 50%;
    vertical-align: middle;
    position: relative;
    top: -1px;
    margin-right: 5px;
}
.image-products{
  position: relative;
}
#main-Nav {
    background: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
}
.form-control:not([size]):not([multiple]) {
    height: auto!important;
}
.payfor {
    margin-top: 10px;
}
.MultiCarousel { float: left; overflow: hidden; padding: 15px; width: 100%; position:relative; }
    .MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
        .MultiCarousel .MultiCarousel-inner .item { float: left;}
        .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;}
    .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
    .MultiCarousel .leftLst { left:0; }
    .MultiCarousel .rightLst { right:0; }
    
        .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background:#ccc; }
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.title-slider {
    color: #f55619;
    text-transform: uppercase;
    font-weight: 600;
}
.btn-success:hover {
    color: #fff;
    border-color: transparent;
    background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border: 0;
}
.btn-success {
    color: #fff;
      background-image: linear-gradient(-90deg,#ec1f1f 0%,#ff9c00 100%);
    border-color: #4cae4c;
    border: 0px
}
/* font Awesome http://fontawesome.io*/
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
/* Animation.css*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css);

.col-item {
  border: 1px solid #E1E1E1;
  background: #FFF;
  margin-bottom:12px;
}
.col-item .options {
  position:absolute;
  top:6px;
  right:22px;
}
.col-item .photo {
  overflow: hidden;
}
.col-item .photo .options {
  display:none;
}
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
}

.col-item .options-cart {
  position:absolute;
  left:22px;
  top:6px;
  display:none;
}
.col-item .photo:hover .options,
.col-item .photo:hover .options-cart {
  display:block;
  -webkit-animation: fadeIn .5s ease;
  -moz-animation: fadeIn .5s ease;
  -ms-animation: fadeIn .5s ease;
  -o-animation: fadeIn .5s ease;
  animation: fadeIn .5s ease;
}
.col-item .options-cart-round {
  position:absolute;
  left:42%;
  top:22%;
  display:none;
}
.col-item .options-cart-round button {
  border-radius: 50%;
  padding:14px 16px;
  
}
.col-item .options-cart-round button .fa {
  font-size:22px;
}
.col-item .photo:hover .options-cart-round {
  display:block;
  -webkit-animation: fadeInDown .5s ease;
  -moz-animation: fadeInDown .5s ease;
  -ms-animation: fadeInDown .5s ease;
  -o-animation: fadeInDown .5s ease;
  animation: fadeInDown .5s ease;
}
.col-item .info {
  padding: 10px;
  margin-top: 1px;
}
.col-item .price-details {
  width: 100%;
  margin-top: 5px;
}
.col-item .price-details h1 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  float:left;
}
.col-item .price-details .details {
  margin-bottom: 0px;
  font-size:12px;
}
.col-item .price-details span {
  float:right;
}
.col-item .price-details .price-new {
  font-size:16px;
}
.col-item .price-details .price-old {
  font-size:18px;
  text-decoration:line-through;
}
.col-item .separator {
  border-top: 1px solid #E1E1E1;
}

.col-item .clear-left {
  clear: left;
}
.col-item .separator a {
  text-decoration:none;
}
.col-item .separator p {
  margin-bottom: 0;
  margin-top: 6px;
  text-align: center;
}

.col-item .separator p i {
  margin-right: 5px;
}
.col-item .btn-add {
  width: 60%;
  float: left;
}
.col-item .btn-add a {
  display:inline-block !important;
}
.col-item .btn-add {
  border-right: 1px solid #E1E1E1;
}
.col-item .btn-details {
  width: 40%;
  float: left;
  padding-left: 10px;
}
.col-item .btn-details a {
  display:inline-block !important;
}
.col-item .btn-details a:first-child {
  margin-right:12px;
}
.example button {
  float: left;
  background-color: #4E3E55;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  font-weight: 600;
  border-radius: 3px;
  padding: 15px 35px;
  margin: 26px 5px 0 5px;
  cursor: pointer; 
}
.example button:focus{
  outline: none; 
}
.example button:hover{
  background-color: #33DE23; 
}
.example button:active{
  background-color: #81ccee; 
}
